#calc {
    display: flex;
    flex-direction: column;
    border: 5px black;
    font-family: 'Courier New', Courier, monospace;

    max-width: 500px;
}

#output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    border: 1px solid black;
    border-radius: 20px;
    min-width: 200px;
    min-height: 50px;
}

#input {
    display: flex;
    justify-content: right;
    align-items: flex-start;

    margin: 10px;
    gap: 15px;
    min-width: 200px;
    min-height: 300px;
    border-style: 5px black;
}

#enter {
    display: flex;
    flex-direction: column;
    gap: 15px
}

#numbers, #operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.number, .operator {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 60px;
    height: 40px;
}